*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 100px;
    row-gap: 10px;
    column-gap: 10px;
}
.child{
    background-color: pink;
    border: 2px solid white;
}
#child1{

    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}