*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width:100%;
    background-color: black;
    color:black;
    display:grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "leftup topcenter topright"
                          "leftup center bottomright"
                          "leftbottom leftbottom bottomright";
    grid-gap: 10px;
    padding: 10px;
}
#center{
    background-color: red;
    grid-area: center;
}
#leftup{
    background-color: aliceblue;
    grid-area: leftup;
}
#topright{
    background-color: blue;
    grid-area: topright;
}
#topcenter{
    background-color: aqua;
    grid-area: topcenter;

}
#bottomright{
    background-color: chartreuse;
    grid-area: bottomright;

}
#leftbottom{
    background-color: blueviolet;
    grid-area: leftbottom;

}